@model IEnumerable<BundesligaDomain.Team>;
@{
    ViewData["Title"] = "Teams";
}

<h2>Teams</h2>
<div class="teams-container">
    @foreach (var item in Model)
    {
        <a asp-controller="Teams" asp-action="Team" asp-route-id="@item.Id">
            <div class="row">
                <div class="col-md-3">
                    <img src="@item.Photo" alt="Photo" style="width:30px;height:30px">
                </div>
                <div class="col-md-9">
                    @item.Name
                </div>
            </div>
        </a>
    }
</div>

